body{
    text-align: center;
    
}


@media screen and (max-width:800px){
    img{
        width: 750px;
        height: 400px;
    }


}

@media screen and (min-width:800px) and (max-width:1000px ){
    img{
        width: 800px;
        height: 600px;
    }
}

@media screen and (max-height:500px){
    img{
        width: 600px;
        height: 400px;
    }
}


@media screen and (min-width:600px) and (max-width:800px ) and (min-height:300px) and (max-height:600px ){
    img{
        width: 500px;
        height: 300px;
    }
}