body{
    text-align: center;
    background-color: brown;
}


@media screen and (max-width:800px){
    body{
        background-color:green;
    }


}

@media screen and (min-width:800px) and (max-width:1000px ){
    body{
        background-color:blue;
    }
}

@media screen and (max-height:500px){
    body{
        background-color:orange;
    }
}


@media screen and (min-width:600px) and (max-width:800px ) and (min-height:300px) and (max-height:600px ){
    body{
        background:linear-gradient(yellow, pink);
    }
}